.mainCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thirdSection,  .linkCont{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.linkCont >p, .thirdSection > p{
    font-weight: bold;
    font-size: 16px;
    color: #282c34;
}

.mainCont > p {
    font-weight: bolder;
}